<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.marklauman.rssreader"
    android:versionCode="10"
    android:versionName="2.0.9" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings">
        </activity>
        
        <provider
            android:name=".database.RSSData"
            android:authorities="ca.marklauman.rssdata"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name=".database.Updater"
            android:label="@string/service_name"
            android:description="@string/service_desc"
            android:exported="false" />
        
    </application>

</manifest>